<aside class="flex flex-col md:gap-4 text-(--therapy-tips)">
    <div class="hidden md:block">
        <h1 class="text-3xl md:text-4xl font-(family-name:--font-amaranth) font-bold tracking-wider">
            MOST
            <br />
            POPULAR
        </h1>
    </div>
    <div class="hidden md:block">
        <%- include('aside-trending-item', { items: items }) %>
    </div>
</aside>