<div class="flex flex-col py-2 gap-2 md:gap-6 text-(--therapy-tips)">
    <div class="hidden md:flex flex-col gap-2">
        <h1 class="text-4xl font-(family-name:--font-amaranth) font-bold tracking-wider">
            FURTHER READING
        </h1>
        <a href="https://www.therapytips.com/book-appointment">
            <button class="flex w-fit items-center gap-2 border-2 border-(--therapy-tips) rounded-md px-4 py-2 text-sm
      hover:bg-(--therapy-tips) hover:cursor-pointer hover:text-white transition-all duration-100">
                MENTAL HEALTH TOPICS
                <img class="mask-[url(https://unpkg.com/lucide-static@latest/icons/chevron-right.svg)] bg-(--therapy-tips) mask-center mask-contain mask-no-repeat size-5 mb-0.5" />
            </button>
        </a>
    </div>
    <div class="flex md:hidden flex-col gap-2 items-center">
        <h1 class="text-3xl font-(family-name:--font-amaranth) font-bold tracking-wider text-center">
            FURTHER READING
        </h1>
        <a href="https://www.therapytips.com/book-appointment">
            <button class="flex w-fit items-center gap-2 border-2 border-(--therapy-tips) rounded-md px-4 py-2 
      hover:bg-(--therapy-tips) hover:cursor-pointer hover:text-white transition-all duration-100">
                MENTAL HEALTH TOPICS
                <img class="mask-[url(https://unpkg.com/lucide-static@latest/icons/chevron-right.svg)] bg-(--therapy-tips) mask-center mask-contain mask-no-repeat size-5 mb-0.5" />
            </button>
        </a>
    </div>
</div>