<a class="flex flex-col gap-2 md:gap-6 text-(--therapy-tips)" href="https://www.buymeacoffee.com/marktravers">
    <div class="hidden md:flex flex-col gap-4">
        <h1 class="text-4xl font-(family-name:--font-amaranth) font-bold tracking-wider">
            LIKING OUR <br /> CONTENT?
        </h1>
        <img src="<%= process.env.BASE_URL %><%= process.env.BASE_DIR %>/assets/images/bmc.png" alt="BMC" width="300" height="100" />
    </div>
    <div class="block md:hidden bg-yellow-300 rounded-2xl px-0.5 pt-0.5 pb-2 my-1">
        <div class="flex flex-col gap-2 items-center">
            <h1 class="text-3xl w-full font-(family-name:--font-amaranth) font-bold tracking-wider text-center 
    rounded-t-xl bg-white p-4">
                LIKING OUR <br /> CONTENT?
            </h1>
            <img src="<%= process.env.BASE_URL %><%= process.env.BASE_DIR %>/assets/images/bmc.png" alt="BMC" width="250" height="100" />
        </div>
    </div>
</a>